
body {
    margin: 0;
    padding: 0;
}

*:not(i) {
    font-family: Montserrat;
}

.page-header {
    position: absolute;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #59adff;
}

.page-header .page-header-text {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 45px;
}

.sidebar {
    float: left;
    width: 20%;
    height: 100vh;
    border-right: 3px solid #59adff;
    box-sizing: border-box;
}

.sidebar .navigation-list {
    margin: 0;
    padding: 120px 0 0 45px;
    list-style: none;
}

.sidebar .navigation-list .navigation-item {
    padding-bottom: 30px;
}

.sidebar .navigation-list .navigation-item .item-text {
    font-size: 16px;
    color: #c5c5c5;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar .navigation-list .navigation-item .item-text .icon-container {
    display: none;
}

.sidebar .navigation-list .navigation-item .item-text.active,
.sidebar .navigation-list .navigation-item .item-text:hover {
    color: #59adff;
    font-weight: bold;
}

.page-content {
    float: left;
    width: 80%;
    padding: 120px 0 0 0;
}

.item {
    padding: 20px 20px;
    margin: 0 10px;
    border-bottom: 1px solid #c5c5c5;
    font-size: 16px;
}

.item-info {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}

.item:first-child {
    padding: 0 20px 20px 20px;
}

.item-info .item-name {
    margin-bottom: 10px;
}

.item-info .item-date {
    color: #c5c5c5;
}

.item-price {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    text-align: right;
}

.item {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 991.98px) {

    .page-header {
        position: relative;
        width: 100%;
        height: 80px;
        line-height: 80px;
        background: #59adff;
    }

    .sidebar {
        float: none;
        width: 100%;
        height: auto;
        border-right: none;
    }

    .sidebar .navigation-list {
        margin: 0;
        padding: 0 0 0 0;
        list-style: none;
    }

    .sidebar .navigation-list .navigation-item .item-text span {
        display: none;
    }

    .sidebar .navigation-list .navigation-item .item-text {
        display: block;
        padding: 20px 0;
        border-bottom: 1px solid #59adff;
    }

    .sidebar .navigation-list .navigation-item .item-text.active {
        border-bottom: 3px solid #59adff;
        padding-bottom: 19px;
        transition: .3s;
    }

    .sidebar .navigation-list .navigation-item .item-text {
        color: rgba(0, 0, 0, .4);
    }

    .sidebar .navigation-list .navigation-item .item-text.active:active {
       background: none;
    }

    .sidebar .navigation-list .navigation-item .item-text .icon-container {
        display: block;
        padding: 5px 0;
        border-right: 2px solid #c5c5c5;
    }

    .sidebar .navigation-list .navigation-item:last-child .item-text .icon-container {
       border-right: none;
    }

    .sidebar .navigation-list .navigation-item {
        float: left;
        width: 25%;
        padding-bottom: 0;
        box-sizing: border-box;
        text-align: center;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .item:first-child {
        padding: 20px 20px 20px 20px;
    }

    .page-content {
        float: none;
        width: 100%;
        padding: 0;
    }
}